---
BasedOnStyle: Google
Language: Cpp
Standard: c++20
IndentWidth: 2
ColumnLimit: 100
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false
Cpp11BracedListStyle: true
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: true
IncludeBlocks: Regroup
SpaceAfterTemplateKeyword: true
SpaceBeforeParens: ControlStatements
SpacesInAngles: false
TabWidth: 2
UseTab: Never
...
